<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Track List</title>
  <link rel="stylesheet" href="/css/tracksView.css">
</head>
<body>
<h1>CHARTS</h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="track : ${tracks}">
    <td th:text="${track.getTrack_name() }"></td>
    <td th:text="${track.getArtists()}"></td>
    <td th:text="${track.getAlbum_name()}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>